<!doctype html>
<html lang="en" ng-app="petApp">

<head>
    <meta charset="utf-8">
    <title>Pet Web Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/pure-min.css">

    <link rel="stylesheet" ng-href="{{selectedStyle.href}}">

    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link" ng-if="selectedStyle.id == 'sidemenu'">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu" ng-class="{'header': selectedStyle.id == 'marketing'}">
            <div ng-class="selectedStyle.classes">
                <a class="pure-menu-heading" ng-href="#!global">{{selectedStyle.menuHeading}}</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a ng-href="#!global" class="pure-menu-link">Global</a></li>
                    <li class="pure-menu-item"><a ng-href="#!specific" class="pure-menu-link">Specific</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>Pet Web Project</h1>
            </div>
            <div class="content">
                <form class="style-selector-form pure-form pure-form-aligned">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="style">Select the layout</label>
                            <select name="style" ng-change="setStyle(selectedStyle)" ng-model="selectedStyle" ng-options="style.name for style in stylesList">
                        </select>
                        </div>
                    </fieldset>
                </form>
                <div ng-view=""></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

    <script src="./js/App.js"></script>
    <script src="./js/services/StyleService.js"></script>
    <script src="./js/services/AnimalService.js"></script>
    <script src="./js/services/FamilyService.js"></script>
    <script src="./js/controllers/GlobalCtrl.js"></script>
    <script src="./js/controllers/SpecificCtrl.js"></script>

    <script type="text/ng-template" id="global.html">
        <h2 class="content-subhead">Global list</h2>

        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><button class="pure-button pure-button-primary" id="add-family-action" ng-click="showAddFamily()">Add Family</button></li>
                <li class="pure-menu-item"><button class="pure-button pure-button-primary" id="add-animal-action" ng-click="showAddAnimal()">Add Animal</button></li>
            </ul>
        </div>

        <div id="add-family" ng-show="formFamily">
            <form class="pure-form pure-form-aligned" name="addFamilyForm">
                <fieldset>
                    <div class="pure-control-group">
                        <legend>Family</legend>
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="family.name" required>
                    </div>
                    <div class="pure-control-group">
                        <label for="diet">Diet</label>
                        <input id="diet" type="text" ng-model="family.diet" required>
                        <span class="pure-form-message-inline"></span>
                    </div>

                    <div class="pure-control-group">
                        <label for="noise">Noise</label>
                        <input id="noise" type="text" ng-model="family.noise" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="ability">Ability</label>
                        <input id="ability" type="text" ng-model="family.ability" required>
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary submit" ng-click="addFamily()" ng-disabled="addFamilyForm.$invalid">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="add-animal" ng-show="formAnimal">
            <form class="pure-form pure-form-aligned" name="addAnimalForm">
                <fieldset>
                    <div class="pure-control-group">
                        <legend>Individual</legend>
                        <label for="family">Family</label>
                        <select name="family" ng-model="animal.family" required>
                                <option value="">Select a family</option>
                                <option ng-repeat="family in familiesList" value="{{family.name}}">{{family.name}}</option>
                        </select>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="animal.name" required>
                    </div>

                    <div class="pure-control-group">
                        <label for="age">Age</label>
                        <input id="age" type="number" min="0" ng-model="animal.age">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary submit" ng-click="addAnimal()" ng-disabled="addAnimalForm.$invalid">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <p>Families</p>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Family</th>
                    <th>Diet</th>
                    <th>Individuals</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="family in familiesList">
                    <td class="tooltip">
                        <span class="hoverable">{{family.name}}</span>
                        <span class="tooltiptext">{{family.noise}}</span>
                    </td>
                    <td>{{family.diet}}</td>
                    <td>{{family.individuals}}</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script type="text/ng-template" id="specific.html">
        <h2 class="content-subhead">Specific list</h2>

        <form class="pure-form" name="filterForm">
            <fieldset>
                <legend>Filter by Family</legend>
                <select name="filterFamily" ng-model="animal.family">
                    <option value="">Select a family</option>
                    <option ng-repeat="family in familiesList" value="{{family.name}}">{{family.name}}</option>
                </select>
            </fieldset>
        </form>

        <table class="pure-table">
            <p>Family:
                <span ng-if="!animal.family">All</span>
                <span ng-if="animal.family">{{animal.family}}</span>
            </p>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="animal in animalsList | filter : animal.family">
                    <td>{{animal.name}}</td>
                    <td>{{animal.age}}</td>
                    <td><button class="button-error pure-button" ng-click="removeAnimal(animal)">Remove</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>
</body>

</html>