<!doctype html>
<html lang="en" ng-app="petApp">

<head>
    <meta charset="utf-8">
    <title>Pet Web Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/pure-min.css">
    <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="styles/side-menu.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <a class="pure-menu-heading" ng-href="#!global">Animals</a>

                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a ng-href="#!global" class="pure-menu-link">Global</a></li>
                    <li class="pure-menu-item"><a ng-href="#!specific" class="pure-menu-link">Specific</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class="header">
                <h1>Pet Web Project</h1>
            </div>

            <div class="content">
                <div ng-view=""></div>
            </div>
        </div>
    </div>

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src="./node_modules/lodash/lodash.min.js"></script>

    <script src="./js/App.js"></script>
    <script src="./js/services/AnimalService.js"></script>
    <script src="./js/services/FamilyService.js"></script>
    <script src="./js/controllers/GlobalCtrl.js"></script>
    <script src="./js/controllers/SpecificCtrl.js"></script>

    <script type="text/ng-template" id="global.html" ng-controller="GlobalCtrl">
        <h2 class="content-subhead">Global list</h2>

        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><button class="pure-button pure-button-primary" id="add-family-action" ng-click="showAddFamily()">Add Family</button></li>
                <li class="pure-menu-item"><button class="pure-button pure-button-primary" id="add-individual-action" ng-click="showAddIndividual()">Add Individual</button></li>
            </ul>
        </div>

        <div id="add-family" ng-show="formFamily">
            <form class="pure-form pure-form-aligned" name="addFamilyForm">
                <fieldset>
                    <div class="pure-control-group">
                        <legend>Family</legend>
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-model="family.name">
                    </div>
                    <div class="pure-control-group">
                        <label for="diet">Diet</label>
                        <input id="diet" type="text" ng-model="family.diet">
                        <span class="pure-form-message-inline"></span>
                    </div>

                    <div class="pure-control-group">
                        <label for="noise">Noise</label>
                        <input id="noise" type="text" ng-model="family.noise">
                    </div>

                    <div class="pure-control-group">
                        <label for="ability">Ability</label>
                        <input id="ability" type="text" ng-model="family.ability">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary submit" ng-click="addFamily()">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div id="add-animal" ng-show="formIndividual">
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <legend>Individual</legend>
                        <label for="family">Family</label>
                        <select name="family">
                                <option value="">Select a family</option>
                        </select>
                        <span class="pure-form-message-inline"></span>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Name</label>
                        <input id="name" type="text">
                    </div>

                    <div class="pure-control-group">
                        <label for="age">Age</label>
                        <input id="age" type="number" min="0">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary submit">Add</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <p>Families</p>
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Family</th>
                    <th>Diet</th>
                    <th>Individuals</th>
                </tr>
            </thead>

            <tbody>
                <tr class="pure-table-odd">
                    <td>Honda</td>
                    <td>Accord</td>
                    <td>2009</td>
                </tr>

                <tr>
                    <td>Toyota</td>
                    <td>Camry</td>
                    <td>2012</td>
                </tr>
            </tbody>
        </table>
    </script>

    <script type="text/ng-template" id="specific.html" ng-controller="SpecificCtrl">
        <h2 class="content-subhead">Specific list</h2>

        <form class="pure-form">
            <fieldset>
                <legend>Family</legend>
                <select>
                    <option value="">Select a family</option>
                </select>
                <button type="submit" class="pure-button pure-button-primary">Filter</button>
            </fieldset>
        </form>

        <table class="pure-table">
            <p>Family: (Selected family name here)</p>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody>
                <tr class="pure-table-odd">
                    <td>Cat</td>
                    <td>2</td>
                    <td><button class="button-error pure-button">Remove</button></a>
                    </td>
                </tr>

                <tr>
                    <td>Dog</td>
                    <td>4</td>
                    <td><button class="button-error pure-button">Remove</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>
</body>

</html>