.pure-form-aligned .pure-control-group label {
    text-align: left;
    width: 8em;
}

.pure-form {
    padding-bottom: 30px;
}

.submit {
    margin-left: -27px;
}

.button-error {
    background: rgb(202, 60, 60);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}