.pure-form-aligned .pure-control-group label {
    text-align: left;
    width: 8em;
}

.pure-form {
    padding-bottom: 30px;
}

.pure-form-aligned .pure-controls {
    margin-left: 0;
}

.button-error {
    background: rgb(202, 60, 60);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.style-selector-form {
    margin-top: 20px;
    margin-bottom: -40px;
}


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .hoverable {
    border-bottom: 1px dotted black;
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}


/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}